@import '../../styles/variables';

.inputfield {
  display: flex;
  flex-direction: column;
  margin: $spacing-base;

  & label {
    font-weight: bold;
  }

  & input {
    padding: $spacing-base;
    border: $border-thin;
    outline: none;
    border-radius: $border-radius-sm;
  }
}
